In [2]:
import pandas as pd
import numpy as np
from functools import reduce

In [3]:
df_adjClose = pd.read_csv('../data/adj_close.csv')
df_close = pd.read_csv('../data/close.csv')
df_high = pd.read_csv('../data/high.csv')
df_low = pd.read_csv('../data/low.csv')
df_open = pd.read_csv('../data/open.csv')
df_volume = pd.read_csv('../data/volume.csv')

In [4]:
#DF LIST TO MERGE
dfs = [df_adjClose, df_close, df_high, df_low, df_open, df_volume]

#GET THE LIST OF THE CRYPTO CURRENCIES
crypto_list = df_adjClose.columns[1:]

#LIST OF MARKET METRICS/OPERATIONS
market_metrics = ['ADJCLOSE','CLOSE','HIGH','LOW','OPEN','VOLUME']

In [5]:
#RENAME THE COLUMNS IN THE DF'S WITH THE RESPECTIVE METRIC
i = 0
for df in dfs:
    for crypto in crypto_list:
        df.rename(columns = {crypto : crypto + '_' + market_metrics[i]}, inplace = True)
    i += 1

In [6]:
#DATAFRAME WITH ALL OF THE MERGED INFORMATION
df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['Date'],
                                            how='inner'), dfs)
merged_columns = df_merged.columns

In [7]:
#GET THE INDIVIDUAL DATAFRAMES FOR EVERY CRYPTOCURRENCY
crypto_df_list = []

for crypto in crypto_list:
    
    #taking input as a string
    str = "df_" + crypto[:-4]
    
    #Add the df name to the list
    crypto_df_list.append(str)
    
    #Get the columns for the corresponding crypto
    crypto_columns = ['Date']
    for column in merged_columns:
        if crypto[:-4] in column:
            crypto_columns.append(column)
            
    #Assign the df
    locals()[str] = df_merged[crypto_columns]

In [8]:
crypto_df_list

['df_ADA',
 'df_ATOM',
 'df_AVAX',
 'df_AXS',
 'df_BTC',
 'df_ETH',
 'df_LINK',
 'df_LUNA1',
 'df_MATIC',
 'df_SOL']

In [9]:
df_merged

,Date,ADA-USD_ADJCLOSE,ATOM-USD_ADJCLOSE,AVAX-USD_ADJCLOSE,AXS-USD_ADJCLOSE,BTC-USD_ADJCLOSE,ETH-USD_ADJCLOSE,LINK-USD_ADJCLOSE,LUNA1-USD_ADJCLOSE,MATIC-USD_ADJCLOSE,...,ADA-USD_VOLUME,ATOM-USD_VOLUME,AVAX-USD_VOLUME,AXS-USD_VOLUME,BTC-USD_VOLUME,ETH-USD_VOLUME,LINK-USD_VOLUME,LUNA1-USD_VOLUME,MATIC-USD_VOLUME,SOL-USD_VOLUME
0,2017-04-26,NaN,NaN,NaN,NaN,1281.079956,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,329631008,NaN,NaN,NaN,NaN,NaN
1,2017-04-27,NaN,NaN,NaN,NaN,1317.729980,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,449196992,NaN,NaN,NaN,NaN,NaN
2,2017-04-28,NaN,NaN,NaN,NaN,1316.479980,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,527488992,NaN,NaN,NaN,NaN,NaN
3,2017-04-29,NaN,NaN,NaN,NaN,1321.790039,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,422705984,NaN,NaN,NaN,NaN,NaN
4,2017-04-30,NaN,NaN,NaN,NaN,1347.890015,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,413115008,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1821,2022-04-21,0.910474,23.305845,75.080742,45.097389,40527.363281,2987.480713,13.588746,90.799156,1.379862,...,8.711113e+08,441027946.0,569385150.0,315254265.0,35372786395,2.078359e+10,503314643.0,2.322037e+09,6.526199e+08,1.838572e+09
1822,2022-04-22,0.907154,23.089931,74.122963,45.963348,39740.320312,2964.835693,13.609354,93.682289,1.399139,...,7.257889e+08,404175037.0,532238762.0,293223333.0,28011716745,1.678280e+10,464995123.0,2.542109e+09,1.281223e+09,1.274794e+09
1823,2022-04-23,0.888503,23.271534,72.920013,45.180782,39486.730469,2938.114014,13.343726,89.534752,1.365971,...,4.479977e+08,262237459.0,360787956.0,185825882.0,16138021249,9.116956e+09,322384215.0,1.251243e+09,5.494467e+08,8.232525e+08
1824,2022-04-24,0.886350,22.330360,71.603035,44.369541,39469.292969,2922.732666,13.287423,90.560234,1.344245,...,4.876295e+08,296530518.0,320340266.0,171259555.0,17964398167,9.696830e+09,299368814.0,1.256729e+09,4.209603e+08,8.182660e+08
1825,2022-04-25,0.898695,22.133928,72.867424,42.973213,40458.308594,3009.393555,13.458693,97.035728,1.352666,...,1.139869e+09,515036727.0,735322462.0,342114485.0,35445730570,2.233269e+10,506454272.0,2.826796e+09,7.130073e+08,1.538487e+09

In [10]:
df_ADA

,Date,ADA-USD_ADJCLOSE,ADA-USD_CLOSE,ADA-USD_HIGH,ADA-USD_LOW,ADA-USD_OPEN,ADA-USD_VOLUME
0,2017-04-26,NaN,NaN,NaN,NaN,NaN,NaN
1,2017-04-27,NaN,NaN,NaN,NaN,NaN,NaN
2,2017-04-28,NaN,NaN,NaN,NaN,NaN,NaN
3,2017-04-29,NaN,NaN,NaN,NaN,NaN,NaN
4,2017-04-30,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
1821,2022-04-21,0.910474,0.910474,0.969453,0.896912,0.937272,8.711113e+08
1822,2022-04-22,0.907154,0.907154,0.923741,0.893973,0.910335,7.257889e+08
1823,2022-04-23,0.888503,0.888503,0.910614,0.884660,0.907185,4.479977e+08
1824,2022-04-24,0.886350,0.886350,0.897855,0.881857,0.888279,4.876295e+08
1825,2022-04-25,0.898695,0.898695,0.901707,0.830232,0.886378,1.139869e+09